php_value output_buffering on
php_value display_errors 1
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
Options -Indexes
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php